# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023 Univention GmbH

---

include:
  - project: "univention/dev/nubus-for-k8s/common-ci"
    ref: "v1.54.2"
    file:
      - "defaults/stages.yaml"
      - "defaults/nubus-workflow.yaml"
      - "jobs/lint-pre-commit.yaml"
      - "jobs/lint-commit-messages.yaml"
      - "jobs/semantic-release-env.yaml"
      - "jobs/container-build-external.yaml"
      - "jobs/package-and-publish-helm-charts-external.yaml"
      - "jobs/check-debian-updates.yaml"
      - "templates/sonarqube.yaml"

variables:
  IMAGE_NAME: "keycloak-bootstrap"
  KANIKO_ARGS: "--cache=false"

lint-pre-commit:
  before_script:
    - "helm repo add bitnami https://charts.bitnami.com/bitnami"

chart-tests:
  image: "gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.0"
  stage: "test"
  needs: []
  script:
    - "helm dep build helm/keycloak-bootstrap"
    - "pytest -vv helm-unittests"

package-helm-charts:
  before_script:
    - "helm repo add bitnami https://charts.bitnami.com/bitnami"

check-debian-updates:
  variables:
    TARGET_IMAGE: "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:latest"

sonarqube:
  extends: ".sonarqube"
  needs: []

...
